*~
/go/go
\#*#
scheme/ikarus/out
scheme/plt-v4/Ernest Hemingway
scheme/plt-v4/compiled
/go/bin/main
/go/pkg/linux_386/anagrams.a
/clojure/target/stale/extract-native.dependencies
/go/whysoslow.prof
/go/pkg/linux_386/
/go/pkg/darwin_amd64/
