<!-- -*-nxml-*- -->
<cruisecontrol>
  <project name="Anagrams" >
    <sourcecontrol type="svn">
      <trunkUrl>https://polyglot-anagrams.googlecode.com/svn/trunk/c-sharp</trunkUrl>
      <workingDirectory>c:\build-it-here</workingDirectory>
    </sourcecontrol>
    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe</executable>
        <workingDirectory>c:\build-it-here</workingDirectory>
        <projectFile>Anagrams.sln</projectFile>
        <logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
    </tasks>
  </project>
</cruisecontrol>