;;   -*- scheme -*-
(define-structure dict (export snarf-dictionary)
  (open scheme srfi-1 posix-files tables reduce primitives bag regexps)
  (files dict))

(define-structure bag (export bag subtract-bags bag-empty? bags=?)
  (open scheme srfi-23)
  (files bag))

(define-structure anagrams (export anagrams)
  (open scheme dict bag srfi-1 sort)
  (files anagrams))

(define-structure profile (export profile-and-display display-profile display-location profile *profile)
  (open interrupts architecture session-data continuations templates
        receiving escapes disclosers primitives sort debug-data tables
        command-processor environments)
  (files s48-profile))
